<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
<!--     <link rel="stylesheet" href="/stylesheets/skeleton.css">
 -->    <link rel="stylesheet" href="/stylesheets/skeleton1200.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/underscore.js"></script>
    <script language="javascript" src="/javascripts/lib/jit.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src="/javascripts/lib/heatmap.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <%= erb :_popup_template %>
    <%= erb :_shots_template %>
    <%= erb :_shots_race_template %>
    <%= erb :_graph_legend_age_template %>

    <title>Police Killings</title>

  </head>
  <body>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/updateView/weight.js"></script>
    <script src="/javascripts/updateView/programs.js"></script>
    <script src="/javascripts/updateView/displays/displaySelector.js"></script>
    <script src="/javascripts/updateView/displays/heatmap.js"></script>
    <script src="/javascripts/updateView/displays/map.js"></script>
    <script src="/javascripts/updateView/displays/graph.js"></script>
    <script src="/javascripts/updateView/filters/filter.js"></script>
    <script src="/javascripts/updateView/filters/filterAge.js"></script>
    <script src="/javascripts/updateView/filters/filterGender.js"></script>
    <script src="/javascripts/updateView/filters/filterIllness.js"></script>
    <script src="/javascripts/updateView/filters/filterRace.js"></script>
    <script src="/javascripts/updateView/filters/filterShots.js"></script>
    <script src="/javascripts/updateView/filters/filterUnarmed.js"></script>
    <script src="/javascripts/updateView/filters/filterUspop.js"></script>
    <script src="/javascripts/updateView/filters/filterStateview.js"></script>
    <script src="/javascripts/updateView/graph/graph.js"></script>
    <script src="/javascripts/updateView/graph/graphColors.js"></script>
    <script src="/javascripts/updateView/graph/filterUspop/graphFilterUspop.js"></script>
    <script src="/javascripts/updateView/graph/filterUspop/gFilterUspopWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterUspop/gFilterUspopWeightUspop.js"></script>
    <script src="/javascripts/updateView/graph/filterUspop/gFilterUspopWeightAge.js"></script>
    <script src="/javascripts/updateView/graph/filterUspop/gFilterUspopWeightIllness.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/graphFilterRace.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/gFilterRaceWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/gFilterRaceWeightUspop.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/gFilterRaceWeightArrests.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/gFilterRaceWeightAge.js"></script>
    <script src="/javascripts/updateView/graph/filterRace/gFilterRaceWeightIllness.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/graphFilterAge.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/gFilterAgeWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/gFilterAgeWeightUspop.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/gFilterAgeWeightArrests.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/gFilterAgeWeightRace.js"></script>
    <script src="/javascripts/updateView/graph/filterAge/gFilterAgeWeightIllness.js"></script>
    <script src="/javascripts/updateView/graph/filterGender/graphFilterGender.js"></script>
    <script src="/javascripts/updateView/graph/filterGender/gFilterGenderWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterGender/gFilterGenderWeightUnarmed.js"></script>
    <script src="/javascripts/updateView/graph/filterGender/gFilterGenderWeightIllness.js"></script>
    <script src="/javascripts/updateView/graph/filterUnarmed/graphFilterUnarmed.js"></script>
    <script src="/javascripts/updateView/graph/filterUnarmed/gFilterUnarmedWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterUnarmed/gFilterUnarmedWeightShots.js"></script>
    <script src="/javascripts/updateView/graph/filterIllness/graphFilterIllness.js"></script>
    <script src="/javascripts/updateView/graph/filterIllness/gFilterIllnessWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterIllness/gFilterIllnessWeightRace.js"></script>
    <script src="/javascripts/updateView/graph/filterIllness/gFilterIllnessWeightAge.js"></script>
    <script src="/javascripts/updateView/graph/filterShots/graphFilterShots.js"></script>
    <script src="/javascripts/updateView/graph/filterShots/gFilterShotsWeightNone.js"></script>
    <script src="/javascripts/updateView/graph/filterShots/gFilterShotsWeightRace.js"></script>
    <script src="/javascripts/updateView/graph/filterShots/gFilterShotsWeightUnarmed.js"></script>
    <script src="/javascripts/updateView/map/map.js"></script>
    <script src="/javascripts/updateView/map/mapFilterAge.js"></script>
    <script src="/javascripts/updateView/map/mapFilterGender.js"></script>
    <script src="/javascripts/updateView/map/filterIllness/mapFilterIllness.js"></script>
    <script src="/javascripts/updateView/map/filterIllness/mFilterIllnessWeightNone.js"></script>
    <script src="/javascripts/updateView/map/filterIllness/mFilterIllnessWeightRace.js"></script>
    <script src="/javascripts/updateView/map/filterIllness/mFilterIllnessWeightAge.js"></script>
    <script src="/javascripts/updateView/map/mapFilterRace.js"></script>
    <script src="/javascripts/updateView/map/filterShots/mapFilterShots.js"></script>
    <script src="/javascripts/updateView/map/filterShots/mFilterShotsWeightNone.js"></script>
    <script src="/javascripts/updateView/map/filterShots/mFilterShotsWeightRace.js"></script>
    <script src="/javascripts/updateView/map/filterShots/mFilterShotsWeightUnarmed.js"></script>
    <script src="/javascripts/updateView/map/mapFilterUnarmed.js"></script>
    <script src="/javascripts/updateView/map/filterUspop/mapFilterUspop.js"></script>
    <script src="/javascripts/updateView/map/filterUspop/mFilterUspopWeightNone.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmap.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterAge.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterGender.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterIllness.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterRace.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterShots.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterUnarmed.js"></script>
    <script src="/javascripts/updateView/heatmap/heatmapFilterUspop.js"></script>
    <script src="/javascripts/about.js"></script>

    <%= yield %>
    
  </body>
</html>